input[type=radio]{
    cursor:pointer;
}
label{
    cursor:pointer;
}
select{
    width:90%;
}

.controlheader{
    position:relative;
    float:left;
    width: 80%;
    font-weight:bold;
    
}

.radiocontrol{
    position:relative;
    float:left;
}

#controlcontainer{
    float:left;
    width:190px;
    -moz-user-select:none;
    user-select:none;
}

#displaycontainer{
    top:15px;
    position:relative;
    width:100%;
    float:left;
}

#sdmlabel{
    color:green;
}

#poplabel{
    color:steelblue;
}


#distributiondisplaycontainer{
    top:15px;
    position:relative;
    width:100%;
    float:left;
}

#graph{
    float:left;
}

#sample{
    position:relative;
    top:20px;
    width:90%;
    height:50px;
    font-size:20px;
}

#samplesize{
    position:relative;
    width:50px;
    float:left;
    font-size:20px;
    top:10px;
}

#samplesizetext{
    position:relative;
    width:40px;
    float:left;
    font-size:20px;
    height:32px;
    line-height:32px;
    vertical-align:middle;
    top:10px;
}

#stats{
    position:relative;
    border:2px solid black;
    height:100px;
    width:82%;
    top:40px;
    padding:5px;
}